# export gpgPubKey="5D027CEF97C8FE6DE39370BD9403F3A0D4BAFE08" # expires 2024-08-31, no password ugh
export gpgPubKey="A2FED89D9A10000E5BF63B37612D36368877DC81"   # expires 2024-01-26

# See https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
# Using no password:
#     export DATABASE_URL=postgres://postgres@localhost:5432/postgres
# doesn't work.

# gpg --decrypt .env-secrets.gpg > .env-secrets
# <edit .env-secrets>
# gpg --encrypt --output .env-secrets.gpg --recipient $gpgPubKey .env-secrets
# shred --verbose --remove .env-secrets

source <(gpg --pinentry-mode=loopback --quiet --for-your-eyes-only --decrypt .env-secrets.gpg)
