# export gpgPubKey="5D027CEF97C8FE6DE39370BD9403F3A0D4BAFE08" # expires 2024-08-31, no password ugh
export gpgPubKey="A2FED89D9A10000E5BF63B37612D36368877DC81"   # expires 2024-01-26

# See https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
# Using no password:
#     export DATABASE_URL=postgres://postgres@localhost:5432/postgres
# doesn't work.

# gpg --output ./.env-secrets.gpg --encrypt --recipient $gpgPubKey ./.env-secrets 
source <(gpg --quiet --for-your-eyes-only --no-tty --decrypt ./.env-secrets.gpg)
