[alias]
	# see http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
	au = add --update
	ss = status --short
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff --word-diff
	bi = bisect
	who = shortlog -s --
	undo = reset --hard
	lg-30     = log --graph -30                        --color               --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
	lg-all-30 = log --graph -30                        --color         --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
	# lg-20     = log --graph -20                        --color               --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --decorate --date=short
	lg-20     = log         -20                        --color               --pretty=format:'%Cred%h%Creset%C(yellow) %ad%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --date=short
	lg-all-20 = log --graph -20                        --color         --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
	lg        = log --graph                            --color               --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
	lg-all    = log --graph --full-history             --color         --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
	alg       = log --graph --abbrev-commit            --color               --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --
	lg1       = log --graph --abbrev-commit --decorate --date=relative --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lg2       = log --graph --abbrev-commit --decorate                 --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

	# Read, modify and delete symbolic refs
	cb = symbolic-ref HEAD --short
	sb = !ls .git/refs/remotes/*/$(git cb) | cut -d/ -f4,5 | xargs git show-branch $(git cb)

	# text-mode interface for Git
	tig = !tig

	# files modified in last commit
	dl = "!git log -u -1"

	# show files modified in last commit - another
	# dlc = diff --cached HEAD^

	# find a file path in the codebase
	f = "!git ls-files | grep -i"

	sl = stash list
	sa = stash pop
	ss = stash save

[user]
	name = Bost
	email = thebost@gmail.com
[color]
	ui = auto
[push]
	default = simple
[github]
	user = Bost
[diff]
	indentHeuristic = true
