*~
*.swp
\#*\#
.\#*

# compiled python files (byte code)
*pyc

# compiled emacs files
*elc

google-chrome-stable_current_amd64.deb
google-earth-stable_current_amd64.deb
fish/fishd.1c6f65d555af
fish/fishd.6cf049cbe20b
fish/fishd.080027c31f70
fish/fish_history
