[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = git@github.com:Bost/bash-git-prompt.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule ".vim/bundle/GoldenView.Vim"]
	ignore = dirty
[submodule ".vim/bundle/VimClojure"]
	ignore = dirty
[submodule ".vim/bundle/YankRing"]
	ignore = dirty
