*~
*.swp
\#*\#
.\#*

.clojure/

# compiled python files (byte code)
/fish/functions/__pycache__/

# compiled emacs files
.elc

fish/fishd.*
fish/fish_variables
fish/fish_history*

# latex package; the files are produced by `texhash ~/texmf`
texmf/tex/latex/cat-7-sketches/cat-7-sketches.aux
texmf/tex/latex/cat-7-sketches/cat-7-sketches.fdb_latexmk
texmf/tex/latex/cat-7-sketches/cat-7-sketches.fls
texmf/tex/latex/cat-7-sketches/cat-7-sketches.log
/bin/lein*
/bin/search-notes
bin/l
bin/l.scm
