# Add aliases to your ~/.gitconfig file:
[alias]
	au = add --update
	ss = status --short
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	bi = bisect
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	who = shortlog -s --
	undo=reset --hard
[user]
	name = Bost
	email = thebost@gmail.com

[color]
	ui = auto
[push]
	default = simple
