[submodule "spacemacs-fennel-layer"]
	path = .emacs.d.distros/spacemacs/configuration-layer/fennel
	url = https://github.com/mitchellw/fennel-layer.git
[submodule "tmux-plugins"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git