@CHARSET "ISO-8859-1";

body {
	font-family: monospace;
	font-size: 11px;
	float: left;
	color: black;
}
.buttons {
    float: right;
    position: relative;
}
/*
#resizable {
	width: 80%;
}
*/
.draggable {
	padding: 0.5em;
	float: left;
	border:1px solid red;
}
.resizable {
	padding: 0.5em;
	float: left;
	border:1px solid blue;
}
.cmd {
	font-weight:bold;
	width: 40%;
	float: left;
/*	border:1px solid blue;*/
}

.desc, .rest {
	float: left;
	width: 50%;
/*	border:1px solid red;*/
}

.line {
	float: left;
	width: 90%;
/*	border:1px solid green;*/
}

.rest {
	float: left;
	width: 90%;
	color: red;
/*	border:1px solid green;*/
}

