@CHARSET "ISO-8859-1";

body {
	font-family: monospace;
	font-size: 11px;
	float: left;
	height:100%;
/*	word-wrap: break-word; */
}

.buttons {
    float: right;
    position: relative;
}

.draggable {
/*	padding: 0.5em; */
	float: left;
/*	border:1px solid red; */
}
.resizable {
/*	padding: 0.5em; */
	float: left;
/*	border:1px solid blue; */
}
.cmd {
	font-weight:bold;
	width: 40%;
	float: left;
/*	border:1px solid blue;*/
}

.desc, .rest {
	float: left;
	width: 50%;
/*	border:1px solid red;*/
}

.line {
	float: left;
	width: 90%;
/*	border:1px solid green;*/
}

.rest {
	float: left;
	width: 90%;
	color: red;
/*	border:1px solid green;*/
}

.effect {
/*	padding: 0.4em; */
/*	position: relative; */
	width: 100%;
	padding: 0.4em 0.4em;
}
.acc {
	padding-top: 0.4em;
	width: 100%;
	border:1px solid gray;
}

.head {
	/*
	background: #CCC;
	color: #222;
	*/
	border: 0;
	/* height: 3em;*/
	padding: 0.8em 0.8em 0.8em;
	font-size: 1.2em;
	position: relative;
}

.line:hover {
	background: #dfe1e2;
}

.head:hover {
	background: #8f9fa8;
}

