"*":
  "autoupdate-packages":
    handling: "Update automatically and silently"
    lastUpdateTimestamp: 1537910918060
  core:
    disabledPackages: [
      "minimap"
      "latex-completions"
      "minimap-git-diff"
      "minimap-find-and-replace"
      "minimap-hide"
      "minimap-pigments"
      "minimap-linter"
      "test-proton-atom"
      "relative-numbers"
      "linter-jshint"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "easy-motion-redux":
    replaceCharacters: "abcdefghijklmnopqrstuvwxyz"
  editor:
    fontFamily: "Hack"
    softWrap: true
  "exception-reporting": {}
  "linter-clojure":
    clojureExecutablePath: "/home/bost/.m2/repository/org/clojure/clojure/1.9.0/clojure-1.9.0.jar"
  "lisp-paredit": {}
  minimap: {}
  proton:
    core:
      alwaysShowWelcomeScreen: true
      inputProvider: "vim-mode-plus"
      leaderKey: "space"
      modeKey: ","
      "post-init-timeout": 3000
      quickOpenProvider: "normal"
      relativeLineNumbers: false
      selectedLayers: [
        "core"
        "tools/git"
        "tools/linter"
        "lang/clojure"
        "lang/javascript"
      ]
      showTabBar: true
      whichKeyDelay: 0.4
      whichKeyDelayOnInit: false
      whichKeyDisabled: false
      wipeUserConfigs: true
    lang:
      javascript:
        linter: "eslint"
  "theme-switch":
    profiles: [
      "nucleus-dark-ui atom-dark-fusion-syntax"
      "atom-material-ui atom-material-syntax"
      "atom-dark-ui atom-dark-syntax"
      "atom-light-ui atom-light-syntax"
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
