;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
 ;; Paths
 ;;   Directories in the current project to include in the classpath
 ;; :paths ["src"]

 #_#_
 :deps ;; External dependencies
 {}

 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

 :aliases
 {
  ;; like lein ancient; clojure -M:outdated
  :outdated {:extra-deps {antq/antq {:mvn/version "0.10.0"}}
             :main-opts ["-m" "antq.core"]}

  #_#_:deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.2.196"}}}
  #_#_:test {:extra-paths ["test"]}

  ;; Generate new projects based on clj, Boot, or Leiningen Templates
  :new
  {:extra-deps {seancorfield/clj-new {:mvn/version "1.1.216"}}
   :main-opts ["--main" "clj-new.create"]}

  :nREPL
  {:extra-deps {nrepl/nrepl {:mvn/version "0.8.2" #_"0.7.0"}
                #_#_cider/cider-nrepl {:mvn/version "0.25.0-SNAPSHOT"}}}

  ;; REPL with colors: https://github.com/bhauman/rebel-readline
  :rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts  [
                "--main" "rebel-readline.main"
                ;; "--eval" "(require,'spyscope.core)"
                ;; "--repl"
                ]
   }
  ;; TODO integrate spyscope tools.deps. See
  ;; https://www.underwhelm.net/blog/2019/12/19/tools-deps-injections/
  #_#_
  :spyscope
  ;; the SNAPSHOT must be build from the source
  {:extra-deps {spyscope {:mvn/version "0.1.7-SNAPSHOT"}}
   :main-opts [
               ;; "--repl"
               "--eval" "(require,'spyscope.core)"]}}

 ;; Provider attributes
 #_#_
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}}}
