;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together together
;; to create the final set of keys. You can modify these diffs to either add
;; or subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {
           "pmeta-k" [:workspace.show]
           "pmeta-pageup" [:tabset.prev]
           "pmeta-pagedown" [:tabset.next]
           ; ctrl-space / pmeta-space doesn't work on laptop
           "pmeta-alt" [:show-commandbar-transient]
           "f6" [:gitlight-status-toggle]
           "f7" [:keymap.modify-user]
           "alt-7" [:behaviors.modify-user]
           ; "f2" [:ace-jump-mode] ; doesn't exit yet

           "f3" [:show-add-connection]
           "alt-3" [:show-connect]
           "pmeta-b" [:behaviors.reload]
           ;; "pmeta-h" probably colides with the 'Describe Key' plugin

           ;; these two keystrokes are near to each others
           "f12" [:clear-console]
           "alt--" [:toggle-console]
           ; "pmeta-f12" [:toggle-console] ;; doesn't work

           "f11" [:window.fullscreen]

           "alt-b" [:add-browser-tab]
           "alt-k" [:tabs.close]
          }
     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]
              "pmeta-i" [:smart-indent-selection]
              "pmeta-;" [:toggle-comment-selection]
              "alt-g" [:clear-inline-results]
              "alt-i" [:smart-indent-selection]
              "alt-;" [:toggle-comment-selection]
              ;"meta-shitf-del" [:delete-line]
              ;"super-s" [:save] ; super key doesn't work
              "f2" [:toggle-visible-whitespace]
              "f5" [:editor.open-current-file-in-browser]
              "f10" [:toggle-hightlight.current.line]
              }}}
