;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together together
;; to create the final set of keys. You can modify these diffs to either add
;; or subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {
           "pmeta-k" [:workspace.show]
           "pmeta-pageup" [:tabset.prev]
           "pmeta-pagedown" [:tabset.next]
           ; ctrl-space / pmeta-space doesn't work on laptop
           "pmeta-alt" [:show-commandbar-transient]
           "f2" [:toggle-visible-whitespace]
           "f6" [:gitlight-status-toggle]
           "f7" [:keymap.modify-user]
           "f11" [:window.fullscreen]
           ; "f2" [:ace-jump-mode] ; doesn't exit yet
           "f12" [:clear-console]
           ; "pmeta-f12" [:toggle-console] ;; doesn't work
           "pmeta-b" [:behaviors.reload]
          }
     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]
              "pmeta-i" [:smart-indent-selection]
              "alt-g" [:clear-inline-results]
              "alt-;" [:toggle-comment-selection]
              ;"meta-shitf-del" [:delete-line]
              ;"super-s" [:save] ; super key doesn't work
              }}}
